
/* Responsive styles for tablets (up to 768px) */
@media (min-width: 577px ) and (max-width:768px) {
    .top-bar {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 8px;
    }

    .left-top {
        margin-left: 0; 
        margin-bottom: 8px; 
        flex-direction: column; 
    }

    .left-top1, .left-top2 {
        margin-bottom: 4px; 
    }

    .right-top {
        margin-right: 0; 
        text-align: center;
        width: 100%; 
        justify-content: center; 
    }
}